// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import 'font-awesome';
// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.required:after {
    content: " (*)";
    color: red;
    font-weight: 400;
    font-style: italic;
}
