<template>
    <div id="company-manage-page">
        <div class="my-3">
            <button class="btn btn-primary" @click.prevent="showModalStore()">
                <i class="fa fa-plus"></i>
                New
            </button>
        </div>

        <page-size-select @changePageSize="changePageSize($event)" class="mb-2"></page-size-select>

        <div class="table-responsive-sm">
            <table class="table table-bordered table-striped table-sm">

                <loading v-if="loadingTable" :fixed="false"></loading>

                <thead>
                <tr>
                    <th class="text-center" width="250" @click="setSort('company_name')">
                        <label>Company name</label>
                        <sort-icon field="company_name" :sort-type="sortType" :sort-field="sortField"></sort-icon>
                    </th>
                    <th class="text-center" width="120">
                        Project
                    </th>
                    <th class="text-center" width="100">User</th>
                    <th class="text-center">Note</th>
                    <th class="text-center" width="70">Edit</th>
                    <th class="text-center" width="70">Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr v-if="companies.length === 0">
                    <td colspan="6" class="text-center">No Company Available</td>
                </tr>
                <tr v-else v-for="company in companies" :key="company.id">
                    <td>{{ company.company_name }}</td>
                    <td class="text-center">
                        <router-link :to="{name: 'HomePage', query: { company_id: company.id }}">To List</router-link>
                    </td>
                    <td class="text-center">
                        <router-link :to="{name: 'HomePage', query: { company_id: company.id }}">To List</router-link>
                    </td>
                    <td>{{ company.note }}</td>
                    <td class="text-center">
                        <a @click.prevent="showModalStore(company)" href="#"><i class="fa fa-pencil"></i></a>
                    </td>
                    <td class="text-center">
                        <a @click.prevent="destroy(company.id)" href="#"><i class="fa fa-trash-o text-danger"></i></a>
                    </td>
                </tr>
                </tbody>
            </table>

            <div class="row" v-show="companies.length !== 0">
                <div class="col-md-10">
                    <pagination
                        :total-page="totalPage"
                        :current-page="currentPage"
                        :per-page="pageSize"
                        @fetchData="fetchData($event)"
                    >
                    </pagination>
                </div>

                <div class="col-md-2">
                    Display: {{ totalRecord }}  Record: {{ from }} - {{ to }}
                </div>
            </div>
        </div>

        <form v-if="showModal" @submit.prevent="store()">
            <modal @close="closeModal()" label-close="Cancel">
                <h4 slot="header" class="font-weight-bold">Company registration</h4>

                <div slot="body">
                    <input-group
                        id="company-name"
                        v-model="company.company_name"
                        class="form-group row justify-content-md-center"
                        input-wrapper-classes="col-md-5"
                        input-class="form-control"
                        :error="errors['company_name']"
                    >
                        <label
                            slot="label"
                            for="company-name"
                            class="col-md-2 col-form-label text-md-right font-weight-bold required"
                        >Company Name:</label
                        >
                    </input-group>

                    <input-group
                        id="company-note"
                        v-model="company.note"
                        class="form-group row justify-content-md-center"
                        input-wrapper-classes="col-md-5"
                        input-class="form-control"
                        :error="errors['note']"
                    >
                        <label
                            slot="label"
                            for="company-note"
                            class="col-md-2 col-form-label text-md-right font-weight-bold"
                        >Company note:</label
                        >
                    </input-group>

                    <div class="form-group row justify-content-md-center">
                        <label class="col-md-2 col-form-label text-md-right font-weight-bold">Attachment Files:</label>
                        <div class="col-md-5">
                            <uploads
                                label="Choose Files"
                                :display-btn="true"
                                :file-temps="company.files"
                                :error="errors['attachment_file']"
                                :files="companyFiles"
                                @fileChange="setFiles"
                                @removeFileTmp="removeFile"
                                @downloadFile="download($event)"
                                @removeFile="deleteFile($event)"
                            />
                        </div>
                    </div>
                </div>

                <button slot="footer" type="submit" class="btn btn-primary">
                    {{ company.id ? 'Update' : 'Register' }}
                </button>
            </modal>
        </form>
    </div>
</template>

<script>
    import Modal from "./../components/Modal";
    import Loading from './../components/loading/Loading';
    import InputGroup from "./../components/forms/InputGroup";
    import Pagination from './../components/paginations/Pagination';
    import PageSizeSelect from './../components/PageSizeSelect';
    import SortIcon from '../components/SortIcon';
    import Uploads from '../components/Uploads';
    import companyApi from './../api/company';
    import notify from '../plugins/notify';
    import errors from '../mixins/errors';
    import pagination from '../mixins/pagination';

    export default {
        name: "CompanyManage",

        mixins: [errors, pagination],

        components: {
            Modal,
            Loading,
            Pagination,
            SortIcon,
            PageSizeSelect,
            InputGroup,
            Uploads
        },

        data() {
            return {
                showModal: false,
                companies: [],
                company: {
                    id: null,
                    company_name: '',
                    note: '',
                    files: []
                },
                companyFiles: [],
                loadingTable: false,
                sortField : 'company_name',
                sortType : 'ASC'
            }
        },

        created() {
            this.fetchData();
        },

        methods: {
            async fetchData(page = 1, pageSize = this.pageSize) {
                try {
                    this.loadingTable = true;

                    const data = await companyApi.getList({
                        sort_field: this.sortField,
                        sort_type: this.sortType,
                        page,
                        page_size: pageSize
                    });

                    this.companies = data.data.companies;
                    this.setDataPagination(data.data.pagination || {});
                } catch(error) {}

                this.loadingTable = false;
            },

            async store() {
                try {
                    this.$store.commit('errors/resetErrors');
                    this.$root.$data.loading = true;

                    const id = this.company.id;

                    const formData = new FormData();

                    for (let i = 0; i < this.company.files.length; i++) {
                        formData.append(`attachment_file[${i}]`, this.company.files[i]);
                    }

                    // append form data except attachment_file
                    for(let i in this.company) {
                        if (!['files'].includes(i)) {
                            formData.append(i, this.company[i]);
                        }
                    }

                    const data = await companyApi.store(formData);

                    this.$root.$data.loading = false;
                    this.closeModal();

                    await notify.success(id ? 'updated successfully' : 'created successfully');

                    await this.fetchData(this.currentPage, this.pageSize);
                } catch(error) {
                    this.$root.$data.loading = false;

                    if(!error.response)
                        return;

                    const { status, data } = error.response;

                    if(status === 422)
                        this.$store.commit('errors/setErrors', data.errors);
                    else
                        return notify.error(data.message);
                }
            },

            async showModalStore(company = null) {
                if (company) {
                    this.companyFiles = await companyApi.getFiles(company.id); // get file of company from server
                    this.company = {
                        id: company.id,
                        company_name: company.company_name,
                        note: company.note,
                        files: []
                    };
                } else {
                    this.companyFiles = [];
                    this.resetCompany();
                }

                this.showModal = true;
            },

            closeModal() {
                this.resetCompany();
                this.showModal = false;
                this.$store.commit('errors/resetErrors');
            },

            setSort(field) {
                this.sortField = field;
                this.sortType = this.sortType === 'ASC' ? 'DESC' : 'ASC';

                this.fetchData(this.currentPage, this.pageSize);
            },

            changePageSize(size) {
                this.pageSize = size;
                this.fetchData(1, this.pageSize);
            },

            resetCompany() {
                this.company = {
                    id: null,
                    company_name: '',
                    note: '',
                    files: []
                }
            },

            async destroy(company_id) {
                const confirm = await notify.confirm('Are you sure ?');

                if (!confirm.value)
                    return;

                try {
                    await companyApi.destroy(company_id);
                    notify.success('Deleted successfully');

                    let page = this.currentPage;

                    if (page > 1 && this.totalRecord === ((this.currentPage - 1) * this.pageSize + 1))
                        page = this.currentPage - 1;

                    await this.fetchData(page, this.pageSize);
                } catch(error) {
                    notify.error(this.$t('error'));
                }
            },

            // for uploading fille
            setFiles(files) {
                for(let i = 0; i < files.length; i++) {
                    this.company.files.push(files[i]);
                }
            },

            removeFile(index) {
                this.company.files.splice(index, 1);
            },

            async download(index) {
                try {
                    const data = await companyApi.download(this.company.id, {
                        file_name: this.companyFiles[index]
                    })

                    var fileURL = window.URL.createObjectURL(new Blob([data]));
                    console.log(fileURL);
                    var fileLink = document.createElement('a');
                    fileLink.href = fileURL;
                    fileLink.setAttribute('download', this.companyFiles[index]);
                    document.body.appendChild(fileLink);

                    fileLink.click();
                } catch (error) {
                    if(!error.response)
                        return;

                    const { status, data } = error.response;

                    if(status === 502) {
                        return notify.error('Error');
                    }
                }
            },

            async deleteFile(index) {
                const confirm = await notify.confirm('Are you sure ?');

                if (!confirm.value)
                    return;

                try {
                    await companyApi.deleteFile(this.company.id, { file_name: this.companyFiles[index] });

                    this.companyFiles.splice(index, 1);

                    await this.fetchData();
                } catch (error) {
                    if(!error.response)
                        return;

                    const { status, data } = error.response;

                    if(status === 502)
                        return notify.error('Error');
                }
            },
        }
    }
</script>

<style lang="scss" scoped>
    .table {
        th {
            cursor: pointer;
            position: relative;

            label {
                margin-bottom: 0;
            }

            i {
                position: absolute;
                right: 5px;
                top: 7px;
            }
        }
    }
</style>
