<template>
    <div>
        <div id="inquiry-list" class="border">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">会社名</label>
                <div class="col-sm-10">
                    <label class="col-form-label">サンシステム株式会社</label>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">プロジェクト</label>
                <div class="col-sm-4">
                    <select class="form-control form-control-sm"> </select>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">ステータス</label>
                <div class="col-sm-10">
                    <div class="form-check form-check-inline">
                        <input
                            class="form-check-input"
                            type="checkbox"
                            id="status-1"
                        />
                        <label class="form-check-label" for="status-1"
                            >新規</label
                        >
                    </div>
                    <div class="form-check form-check-inline">
                        <input
                            class="form-check-input"
                            type="checkbox"
                            id="status-2"
                        />
                        <label class="form-check-label" for="status-2"
                            >対応予定</label
                        >
                    </div>
                    <div class="form-check form-check-inline">
                        <input
                            class="form-check-input"
                            type="checkbox"
                            id="status-3"
                        />
                        <label class="form-check-label" for="status-3"
                            >修正済</label
                        >
                    </div>
                    <div class="form-check form-check-inline">
                        <input
                            class="form-check-input"
                            type="checkbox"
                            id="status-4"
                        />
                        <label class="form-check-label" for="status-4"
                            >本番リリース済</label
                        >
                    </div>
                    <div class="form-check form-check-inline">
                        <input
                            class="form-check-input"
                            type="checkbox"
                            id="status-5"
                        />
                        <label class="form-check-label" for="status-5"
                            >質問</label
                        >
                    </div>
                    <div class="form-check form-check-inline">
                        <input
                            class="form-check-input"
                            type="checkbox"
                            id="status-6"
                        />
                        <label class="form-check-label" for="status-6"
                            >回答済</label
                        >
                    </div>
                    <div class="form-check form-check-inline">
                        <input
                            class="form-check-input"
                            type="checkbox"
                            id="status-7"
                        />
                        <label class="form-check-label" for="status-7"
                            >再現待ち</label
                        >
                    </div>
                    <div class="form-check form-check-inline">
                        <input
                            class="form-check-input"
                            type="checkbox"
                            id="status-8"
                        />
                        <label class="form-check-label" for="status-8"
                            >終了</label
                        >
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">ID</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control form-control-sm" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">テキスト検索</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control form-control-sm" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">タグ検索</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control form-control-sm" />
                </div>
                <div class="col-sm-1">
                    <button class="btn btn-primary btn-sm">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>

            <table class="table table-bordered text-center">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">
                            <input type="checkbox" />
                        </th>
                        <th scope="col">ID</th>
                        <th scope="col">ステータス</th>
                        <th scope="col">種別</th>
                        <th scope="col">タイトル</th>
                        <th scope="col">添付</th>
                        <th scope="col">現担当者</th>
                        <th scope="col">確認者</th>
                        <th scope="col">更新日時</th>
                        <th scope="col">プロジェクト</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <input type="checkbox" />
                        </td>
                        <td>1</td>
                        <td>
                            <span class="badge badge-danger p-2">新　規</span>
                        </td>
                        <td>要望</td>
                        <td>ヘッダーに○○を追加したい</td>
                        <td>📎</td>
                        <td>森永</td>
                        <td>-</td>
                        <td>25/5/2020 3:14:00 PM</td>
                        <td>お問い合わせシステム</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
export default {
    name: "Home",

    data() {
        return {};
    }
};
</script>

<style lang="scss" scoped>
#inquiry-list {
    padding-top: 20px;

    .form-group {
        padding: 0 15px;
        & > label {
            text-align: right;
            font-weight: 700;
            white-space: normal;
        }
    }

    .form-check-inline {
        margin-right: 1.5rem;
    }
}
</style>
