<template>
    <div id="forget-password-page">
        <div class="logo">
            <img
                src="../../../public/images/logo/logo-sunsystem.svg"
                alt="logo"
            />
        </div>
        <form>
            <div class="form-group">
                <input
                    class="form-control form-control-lg"
                    type="text"
                    maxlength="50"
                    placeholder="メールアドレスを入力してください。"
                    required
                />
            </div>
            <div class="form-group">
                <button class="btn btn-primary btn-block">送信</button>
            </div>
            <div class="form-group">
                <router-link :to="{ name: 'Login' }">
                    <button class="btn btn-primary btn-block">
                        キャンセル
                    </button>
                </router-link>
            </div>
        </form>
    </div>
</template>

<script>
export default {
    name: "ForgetPassword"
};
</script>

<style lang="scss" scoped>
#forget-password-page {
    max-width: 400px;
    margin: 5em auto;

    .logo {
        max-width: 100%;
        overflow: hidden;
    }

    form {
        margin-top: 40px;

        button:active {
            position: relative;
            top: 1px;
            left: 1px;
        }
    }
}
</style>
