<template>
    <div id="status-manage-page">
        <button
            class="btn btn-primary my-3"
            @click.prevent="showModalStore(status)"
        >
            <i class="fa fa-plus"></i>
            New
        </button>

        <page-size-select @changePageSize="changePageSize($event)" class="mb-2"></page-size-select>

        <div class="table-responsive-sm">
            <table class="table table-bordered table-striped table-sm">

                 <loading v-if="loadingTable" :fixed="false"></loading>

                <thead>
                    <tr>
                        <th class="text-center" scope="col">
                            <input type="checkbox" v-model="cbCheckAll" @change="checkAll()">
                        </th>
                        <th class="text-center" width="50" @click="setSort('id')">
                            <label>ID</label>
                            <sort-icon field="id" :sort-type="sortType" :sort-field="sortField"></sort-icon>
                        </th>
                        <th class="text-center" @click="setSort('status_name')">
                            <label>Status</label>
                            <sort-icon field="status_name" :sort-type="sortType" :sort-field="sortField"></sort-icon>
                        </th>
                        <th class="text-center" width="120" @click="setSort('color_code')">
                            Color Code
                            <sort-icon field="color_code" :sort-type="sortType" :sort-field="sortField"></sort-icon>
                        </th>
                        <th class="text-center" width="70">Edit</th>
                        <th class="text-center" width="70">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-if="statuses.length === 0">
                        <td colspan="6" class="text-center">No Status Available</td>
                    </tr>
                    <tr v-for="status in statuses" :key="status.id">
                        <td class="text-center" width="40">
                            <input type="checkbox" v-model="sttIdChecked" :value="status.id" :id="status.id">
                        </td>
                        <td class="text-center">{{ status.id }}</td>
                        <td>{{ status.status_name }}</td>
                        <td :style="{ backgroundColor: status.color_code }">
                            {{ status.color_code }}
                        </td>
                        <td class="text-center">
                            <a
                                @click.prevent="showModalStore(status)"
                                href="#"
                                ><i class="fa fa-pencil"></i
                            ></a>
                        </td>
                        <td class="text-center">
                            <a @click.prevent="destroy(status.id)" href="#"
                                ><i class="fa fa-trash-o text-danger"></i
                            ></a>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="row" v-show="statuses.length !== 0">
                <div class="col-md-10">
                    <pagination
                        :total-page="totalPage"
                        :current-page="currentPage"
                        :per-page="pageSize"
                        @fetchData="fetchData($event)"
                    >
                    </pagination>
                </div>

                <div class="col-md-2">
                    Display: {{ totalRecord }}  Record: {{ from }} - {{ to }}
                </div>
            </div>

        </div>
        <form v-if="showModal" @submit.prevent="store()">
            <modal
                v-if="showModal"
                @close="showModal = false"
                :label-close="'Cancel'"
            >
                <h4 slot="header">Status registration</h4>

                <div slot="body">
                    <form @submit.prevent="store()">
                        <input-group
                            :id="'status'"
                            :name="'status'"
                            v-model="status.status_name"
                            :placeholder="'Status name'"
                            :input-class="'form-control'"
                            :input-wrapper-classes="'col-md-10'"
                            class="form-group row"
                            :error="errors['status_name']"
                        >
                            <label
                                slot="label"
                                for="status"
                                class="col-md-2 col-form-label text-md-right font-weight-bold required"
                                >Status:</label
                            >
                        </input-group>

                        <input-group
                            :id="'color-code'"
                            :name="'color-code'"
                            v-model="status.color_code"
                            :placeholder="'Color code'"
                            :input-class="'form-control'"
                            :input-wrapper-classes="'col-md-10'"
                            class="row form-group"
                            :error="errors['color_code']"
                        >
                            <label
                                slot="label"
                                for="color-code"
                                class="col-md-2 col-form-label text-md-right font-weight-bold"
                                >Color code:</label
                            >
                        </input-group>
                    </form>
                </div>

                <button slot="footer" type="submit" class="btn btn-primary">
                    {{ status.id ? 'Update' : 'Register' }}
                </button>
            </modal>
        </form>
    </div>
</template>

<script>
import Modal from "./../components/Modal";
import Loading from './../components/loading/Loading';
import InputGroup from "./../components/forms/InputGroup";
import Pagination from './../components/paginations/Pagination';
import PageSizeSelect from './../components/PageSizeSelect';
import SortIcon from '../components/SortIcon';
import statusApi from './../api/status';
import notify from '../plugins/notify';
import errors from '../mixins/errors';
import pagination from '../mixins/pagination';

export default {
    name: "StatusManage",

    mixins: [errors, pagination],

    components: {
        Modal,
        InputGroup,
        Loading,
        Pagination,
        PageSizeSelect,
        SortIcon
    },

    watch: {
        // when check all manually => check checkbox v-model cbCheckAll
        sttIdChecked() {
            this.cbCheckAll = this.statuses.length > 0 && this.sttIdChecked.length === this.statuses.length;
        }
    },

    data() {
        return {
            showModal: false,
            // object for create or update
            status: {
                id: null,
                status_name: "",
                color_code: ""
            },
            // array status get from api list
            statuses: [],

            // loading
            loadingTable: false,
            // for sort server and sort icon client
            sortField : 'id',
            sortType : 'ASC',

            // for check like data table
            cbCheckAll: false, // if = true check all checkbox
            sttIdChecked: [],
        };
    },

    created() {
        this.fetchData();
    },

    methods: {
        async fetchData(page = 1, pageSize = this.pageSize) { //pageSize = this.pageSize
            try {
                this.loadingTable = true;
                const { data } = await statusApi.getList({
                    sort_field: this.sortField,
                    sort_type: this.sortType,
                    page,
                    page_size: pageSize
                });

                this.statuses = data.statuses;
                this.setDataPagination(data.pagination || {});
            } catch (error) {}

            this.loadingTable = false;
        },

        showModalStore(status = null) {
            if (status) {
                this.status = {
                    id: status.id,
                    status_name: status.status_name,
                    color_code: status.color_code
                };
            } else {
                this.resetStatus();
            }

            this.showModal = true;
        },

        closeModal() {
            this.resetStatus();
            this.showModal = false;
            this.$store.commit('errors/resetErrors');
        },

        resetStatus() {
            this.status = {
                id: null,
                status_name: "",
                color_code: ""
            };
        },

        async store() {
            try {
                this.$store.commit('errors/resetErrors');
                this.$root.$data.loading = true;
                const id = this.status.id;
                const data = await statusApi.store(this.status);
                this.$root.$data.loading = false;
                this.closeModal();
                notify.success(id ? 'updated successfully' : 'created successfully');

                await this.fetchData(this.currentPage, this.pageSize);
            } catch(error) {
                this.$root.$data.loading = false;

                if(!error.response) {
                    return;
                }

                const { status, data } = error.response;

                if(status === 422) {
                    this.$store.commit('errors/setErrors', data.errors);
                } else {
                    return notify.error(data.message);
                }
            }
        },

        async destroy(id) {
            const confirm = await notify.confirm('Are you sure ?');

            if (!confirm.value)
                return;

            try {
                await statusApi.destroy(id);
                notify.success('Deleted successfully');

                let page = this.currentPage;

                if (page > 1 && this.totalRecord === ((this.currentPage - 1) * this.pageSize + 1))
                    page = this.currentPage - 1;

                await this.fetchData(page, this.pageSize);
            } catch(error) {
                notify.error(data.message);
            }
        },

        changePageSize(size) {
            this.pageSize = size;
            this.fetchData(1, this.pageSize);
        },

        // for data table
        checkAll() {
            if (!this.cbCheckAll) {
                this.sttIdChecked = [];
            } else {
                for (let status of this.statuses) {
                    this.sttIdChecked.push(status.id);
                }
            }
        },

        setSort(field) {
            this.sortField = field;
            this.sortType = this.sortType === 'ASC' ? 'DESC' : 'ASC';

            this.fetchData(this.currentPage, this.pageSize);
        },
    }
};
</script>
