<template>
    <nav>
        <ul class="pagination">
            <li class="page-item" :class="{ disabled: currentPage <= 1 }"> <!-- first page url-->
                <button
                    @click="$emit('fetchData', 1)"
                    class="page-link"
                    :disabled="currentPage <= 1"
                >
                    &laquo;
                </button>
            </li>

            <li class="page-item" :class="{ disabled: currentPage <= 1 }"> <!-- previous page url-->
                <button
                    @click="$emit('fetchData', currentPage - 1)"
                    class="page-link"
                    :disabled="currentPage <= 1"
                >
                    &lt;
                </button>
            </li>                                                           <!-- current page url-->
            <li
                v-for="page in totalPage"
                :key="page"
                class="page-item"
                :class="{ active: currentPage === page }"
                @click="$emit('fetchData', page)"
            >
                <a href="#" class="page-link">{{ page }}</a>
            </li>

            <li class="page-item" :class="{ disabled: currentPage === totalPage }"> <!-- next page url-->
                <button
                    @click="$emit('fetchData', currentPage + 1)"
                    class="page-link"
                    :disabled="currentPage === totalPage"
                >
                    &gt;
                </button>
            </li>

            <li class="page-item" :class="{ disabled: currentPage === totalPage }"> <!-- last page url-->
                <button
                    @click="$emit('fetchData', totalPage)"
                    class="page-link"
                    :disabled="currentPage === totalPage"
                >
                    &raquo;
                </button>
            </li>
        </ul>
    </nav>
</template>

<script>
    export default {
        name: 'InputGroup',

        props: {
            currentPage: {
                type: Number,
                default: 1
            },
            totalPage: {
                type: Number,
                default: 0
            },
            perPage: {
                type: Number,
                default: 0
            }
        },

    }
</script>

<style lang="scss" scoped>
</style>
