<template>
    <div class="modal-mask container mark-popup">
        <div class="modal-wrapper container">
            <div class="modal-container">
                <div class="modal-header">
                    <slot name="header"></slot>
                    <button
                        type="button"
                        class="close m-0 p-0"
                        @click="$emit('close')"
                    >
                        <i class="fa fa-close"></i>
                    </button>
                </div>

                <div class="modal-body">
                    <slot name="body"></slot>
                </div>

                <div class="modal-footer">
                    <slot name="footer"></slot>
                    <button
                        class="btn btn-primary mx-3"
                        @click="$emit('close')"
                    >
                        {{ labelClose }}
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        labelClose: {
            type: String,
            default: "Cancel"
        }
    }
};
</script>

<style lang="scss" scoped>
.modal-mask {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: table;
    transition: opacity 0.3s ease;
    padding: 0;
}
.mark-popup {
    position: absolute;
    right: 0px;
}

.modal-wrapper {
    display: table-cell;
    vertical-align: middle;
    height: inherit;
}

.modal-container {
    // width: 95%;
    // height: 88vh;
    margin: 0px auto;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
    transition: all 0.3s ease;
    position: relative;
}

.modal-header {
    padding: 10px;
}

.modal-body {
    // margin: 20px 0 0;
    height: calc(100% - 50px);
    padding: 10px;
}

.modal-footer {
    // position: absolute;
    // bottom: 0;
    width: 100%;
    // padding: 5px;
    justify-content: center;

    button {
        min-width: 70px;
    }
}

.modal-default-button {
    float: right;
}

/*
   * The following styles are auto-applied to elements with
   * transition="modal" when their visibility is toggled
   * by Vue.js.
   *
   * You can easily play with the modal transition by editing
   * these styles.
   */

.modal-enter {
    opacity: 0;
}

.modal-leave-active {
    opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
</style>
