<template>
    <div class="row mx-0">
        <select
            v-model="pageSize"
            class="form-control form-control-sm col-md-1 col-sm-3"
            @change="$emit('changePageSize', pageSize)"
        >
            <option v-for="size in pageSizeOptions" :key="size" :value="size">{{ size }}</option>
        </select>
        <label class="col-form-label col-form-label-sm col-md-2 col-sm-3">Show</label>
    </div>
</template>

<script>
    import { page_size_options } from '../config/variables';

    export default {
        name: 'PageSizeSelect',

        data() {
            return {
                pageSize: 10,
                pageSizeOptions: page_size_options
            }
        }
    }
</script>
