<template>
    <i
        class="fa"
        :class="classSort">
    </i>
</template>

<script>
    export default {
        name: 'sortIcon',

        props: {
            field: {
                type: String,
                default: ''
            },
            sortField: {
                type: String,
                default: ''
            },

            sortType: {
                type: String,
                default: ''
            }
        },

        computed: {
            classSort() {
                if (this.sortField === this.field) {
                    if (this.sortType === 'DESC')
                        return 'fa-sort-down text-primary';
                    else
                        return 'fa-sort-up text-primary';
                }

                return 'fa-sort';
            }
        }
    }
</script>
