<template>
    <div>
        <div class="custom-file" :class="{'has-error': error}">
            <div v-if="displayBtn" class="custom-file-group">
                <input
                    ref="file"
                    type="file"
                    multiple="multiple"
                    class="custom-file-input"
                    :accept="accept"
                    @input="$emit('input',$event.currentTarget.value)"
                    @change="fileChange"
                />
                <label class="custom-file-label bg-primary m-0">{{ label }}</label>
            </div>
            <div>
                <div v-if="currentProcess !== null" class="progress rounded-0">
                    <div
                        role="progressbar"
                        class="progress-bar progress-bar-striped"
                        :style="'width:' + currentProcess + '%'"
                        :aria-valuenow="currentProcess"
                        aria-valuemin="0"
                        aria-valuemax="100"
                    ></div>
                </div>

                <div v-if="files.length > 0 || fileTemps.length > 0" class="file-lst border">
                    <ul class="lst-file-name border-bottom mb-0">
                        <!-- previewing file uploaded in server -->
                        <li
                            v-for="(file,index) in files"
                            :key="`files-${index}`"
                            class="in-progress"
                        >
                            <a href="#" @click.prevent="$emit('downloadFile', index)">{{ file }}</a>
                            <a href="#" class="text-danger btn-remove" @click.prevent="$emit('removeFile', index)">
                                <i class="fa fa-trash-o text-danger"></i>
                            </a>
                        </li>

                        <!-- previewing file -->
                        <li
                            v-for="(file,index) in fileTemps"
                            :key="`files-tmp-${index}`"
                            class="in-progress"
                        >
                            <a href="#" @click.prevent="downloadFileTemp(file)">{{ file.name }}</a>
                            <a href="#" class="text-danger btn-remove" @click.prevent="$emit('removeFileTmp', index)">
                                <i class="fa fa-trash-o text-danger"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="invalid-feedback" :class="{'d-block': error}">
            {{ error ? error.toString() : '' }}
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            label: {
                type: String,
                default: ''
            },
            displayBtn: {
                type: Boolean,
                default: false
            },
            autoUpload: {
                type: Boolean,
                default: false
            },
            accept: {
                type: String,
                default: '.csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel, .pdf, .txt'
            },
            error: {},
            files: {
                type: Array,
                default: () => []
            },
            fileTemps: {
                type: Array,
                default: () => []
            }
        },

        data() {
            return {
                currentProcess: null
            };
        },

        methods:{
            async fileChange(event) {
                const files = event.target.files || event.dataTransfer.files;

                if(!files.length)
                    return;

                this.currentProcess = 0;

                this.$emit('fileChange', files);

                this.currentProcess = 100;
                event.target.value = "";

                setTimeout(() => {
                    this.currentProcess = null;
                },300);
            },

            downloadFileTemp(file) {
                if (window.navigator.msSaveBlob) {
                    return navigator.msSaveBlob(file, file.name);
                } else {
                    var link = document.createElement("a");
                    link.download = file.name;
                    link.href = window.URL.createObjectURL(file);
                    link.click();
                }
            }
        }
    };
</script>

<style lang="scss" scoped>
    .custom-file {
        height: auto;
        overflow: hidden;
        border: 1px solid transparent;
        padding: 1px;

        &.has-error {
            border: 1px solid red;
        }
        .file-lst {
            max-height: 140px;
            overflow-y: auto;
            position:relative;
        }

        .lst-file-name {
            height: 100%;
            &:not(:last-child) {
                margin-bottom: 0;
            }

            .in-progress {
                position:relative;
                overflow: hidden;
                .upload-bar {
                    border-top: 1px solid #38c172;
                    content: "";
                    top: 0;
                    width: 0%;
                    position: absolute;
                    left: 0;
                }
                .btn-remove {
                    position: absolute;
                    padding:0px 8px;
                    right: 0;
                    top:0;
                }
            }

            cursor: default;
            overflow-y: auto;
            list-style-type: none;
            padding:0;
            li {
                padding-left:40px;
                position: relative;
                &:before {
                    content: "\F1C3";
                    font: normal normal normal 14px/1 FontAwesome;
                    left: 0;
                    position: absolute;
                    top: 0;
                    padding: .25rem .73rem;
                }
                a {
                    color:#333;
                }
                &:nth-of-type(odd) {
                    background:rgba(0,0,0,.05);
                }
            }
        }
        .custom-file-group {
            .custom-file-input {
                & + label {
                    color:#fff;
                    margin: 1px;
                }
                &[disabled] + label:before,
                &[disabled] + label {
                    background: #AAAAAA;
                    color:#333;
                }
            }
            cursor: pointer;
        }
        .custom-file-label {
            &:after {
                display: none;
            }
        }
    }
</style>
